p {
		/*border: 1px solid #0074ff;*/
		font-size: 1.2em;
		font-weight: 900;
		margin: 2px 0px 0px 0px !important;
		padding: 0 0 0 0 !important;
}
.table td  {
   text-align: center;   
}

.table th {

	text-align: center;
}

.title  {

	font-weight: bold;  
}

.letra-s {
	font-size: 0.8em;
}

.tds {
	height: 100%;
	padding: 0 0 0 0;
	margin:  0 0 0 0;	
}

.centimetros {
	background: #CCC;
	padding-top: 50px;
	margin: 0 0 0 0;
}

.nivel_freatico{
	height: 0px;
	margin: 0 0 0 0;
	position: relative;
	top:100px;		
}

.firmas {
	border: none;

}
.lineafirma {
	border-bottom: 1px solid #2e2e2e;
	width: 150px;
	display: inline-block;

}

.patrones {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 1px solid #CCC;
}

.tabla-headers {
	border : 1px dotted #CCC;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.5em;
}

.tabla-informes {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.tabla-granulo {
	width: 100%;
	margin: 0 auto;

}

.letraInforme {
	font-size: 1.3em;	
}

.letratest {
	font-size: 1.2em;	
}

.tabla-footer {
	width: 90%;
	margin-right: auto;
	margin-left: auto;	
}
.paginador {
	font-size: 1.2em;
}

.paginadorGranulometria {
	font-size: 1.2em;
	margin-right: 100px;	
}

.contenedor {
	border-top: 1px dotted white;
	border-left: 1px dotted white;
	border-right: 1px dotted white;
	border-bottom: 1px dotted white;

	/*
	border-top: 1px dotted red;
	border-left: 1px dotted #CCC;
	border-right: 1px dotted #CCC;
	border-bottom: 1px dotted blue;
	*/
	height: 1526px;
	overflow: hidden;


}
.contenedor-granulometria {
    border-top: 1px dotted red;
	border-left: 1px dotted red;
	border-right: 1px dotted red;
	border-bottom: 1px dotted red;

	/*
	border-top: 1px dotted red;
	border-left: 1px dotted #CCC;
	border-right: 1px dotted #CCC;
	border-bottom: 1px dotted blue;
	*/

	height: 1526px;
	width: 1200px;

}

.graficaGranulo {
	margin: 0 auto;
	width: 80%;
	height: 350px;
}






