.table td  {
   text-align: center;   
}

.table th {

	text-align: center;
}

.title  {

	font-weight: bold;  
}

.letra-s {
	font-size: 0.8em;
}

.tds {
	height: 100%;
	padding: 0 0 0 0;
	margin:  0 0 0 0;	
}

.centimetros {
	background: #CCC;
	padding-top: 50px;
	margin: 0 0 0 0;
}

.nivel_freatico{
	height: 0px;
	margin: 0 0 0 0;
	position: relative;
	top:100px;		
}

.firmas {
	border: none;

}
.lineafirma {
	border-bottom: 1px solid #2e2e2e;
	width: 150px;
	display: inline-block;

}

.patrones {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 1px solid #CCC;
}

.tabla-headers {
	border : 1px dotted #CCC;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.5em;
}

.tabla-informes {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.letraInforme {
	font-size: 1.3em;	
}

.tabla-footer {
	width: 90%;
	margin-right: auto;
	margin-left: auto;	
}
.paginador {
	font-size: 1.2em;
}



